<div class="header-principal" style="flex: 1 1 auto; text-align: center; line-height: 20px; border: 0px red solid;">
  <figure style="margin: 0;">
    <a href="https://cimav.edu.mx/" class="organization-shortname" rel="" >
      <img class="is-48x48" src="https://cimav.edu.mx/wp-content/themes/cimav2017/img/2logos.png" alt="" />
    </a>
    <span style="color: #003e90; font-size: x-large; padding-left: 15px; font-weight: 400; letter-spacing: 3px;" >
      Foro de Egresados
    </span>
  </figure>
</div>
