/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* $thredded-brand: #2d3e78;*/
$thredded-brand: #f95959;
$thredded-grid-container-max-width: none;
$thredded_page_title: 'Foro de Egresados';

@import "thredded";

#thredded--container {
  // border: 10px dodgerblue dotted;
}

.thredded--main-container {
  padding: 0 4rem 0.75rem 4rem;
}

.AVOID_thredded--user-navigation {
  background-color: $thredded-brand;
  padding: 0 5px;
  border-radius: 5px;
}
.thredded--user-navigation--item a {
  // color: #F7F7F7;
  font-weight: bolder;
}

/*  */
// @import "foro_egresados";

